/*************
*** Login ***
*************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
body {
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: plum;
}
.item {
    background-color: aliceblue;
    padding: 50px;
    font-weight: 900;
}
.loginform{
    display: flex;
    justify-content: center;
    align-items: center;
}