/*html {
    font-family: 'Black Han Sans', sans-serif;
    height: 200px;
}
.menucontainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "menu map map"
    "footer footer footer";
}

.map { grid-area: map; }

.header { grid-area: header; }

.footer { grid-area: footer; }

.menu { grid-area: menu; background-color: #a0aaaf }

.btn-indigo { background-color: #6610f2 }

.btn-reverse-indigo { background-color: white; color:#6610f2}

#header1, #header2{
    background-color: #6610f2;
}*/

.c_wing_top{
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 42px;
    height: 42px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    background: lightgray;
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
    /*line-height: 200px !important;*/
}

#container{
    position: relative;
    z-index: 0;
}

.container-fluid{
    position: absolute;
    left: -20%;
    z-index: 1;
    width: 20%;
    height: 100vh;
    background-color: lightgray;
}