html {
    font-family: 'Black Han Sans', sans-serif;
    height: 200px;
}
.menucontainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "menu map map"
    "footer footer footer";
}

.map { grid-area: map; }

.header { grid-area: header; }

.footer { grid-area: footer; }

.menu { grid-area: menu; background-color: #a0aaaf }

.btn-indigo { background-color: #6610f2 }

.btn-reverse-indigo { background-color: white; color:#6610f2}

#header1, #header2{
    background-color: #6610f2;
}