<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>



var PieChart = document.getElementById('PieChart');
                  var pie = canvas.getContext('2d');
                  
                  var canvas = document.getElementById('PieChart');
                  
                  	if (canvas.getContext){
                  		var pie = canvas.getContext('2d');
                  		var mdPieChart = new Chart(PieChart,{
                  		  	  type: 'pie',
                  		  	  data:{
                  		  		  labels:[
                  		  			    '상가/점포/소매',
                  		  			    '교육/사무/회계',
                  		  			    '카페/여가',
                  		  			    '중개/관리',
                  		  			    '생활/건강',
                  		  			    '음식/유흥',
                  		  			    '숙박/의류',
                  		  			    '애견/미용',
                  		  			    '기타',
                  		  			  ],
                  		  		  datasets:[
                  		  			  {
                  		  			  label:'업종의 점포 수',
                  		  			  data:[1342, 426, 868, 311, 615, 1523, 742, 426, 210], // 추후 DB에서 가져옴
                  		  	  		  backgroundColor: [
                  		  			      'rgb(255, 102, 102)',
                  		  			      'rgb(255, 178, 102)',
                  		  			      'rgb(255, 255, 102)',
                  		  			      'rgb(102, 255, 102)',
                  		  			      'rgb(102, 255, 255)',
                  		  			      'rgb(102, 102, 255)',
                  		  			      'rgb(178, 102, 255)',
                  		  			      'rgb(255, 102, 255)',
                  		  			      'rgb(192, 192, 192)',
                  		  			    ],
                  		  			    hoverOffset: 4
                  		  			  }]
                  		  	  		}
                  		    		});
                  	} else {
                  		console.log(canvers-unsupported);
                  	}