<div class="container-fluid d-md-none">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex probootstrap-aside-social">
                <li><a href="#" class="p-2"><i class="fa-regular fa-envelope"></i></a></li>
                <li><a href="#" class="p-2"><i class="fa-regular fa-user"></i></a></li>
            </ul>
            <p>&copy; 2022 AI School. <br> All Rights Reserved. Designed by <a href="https://probootstrap.com/" target="_blank">ProBootstrap.com</a></p>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/81385b77d5.js" crossorigin="anonymous"></script>