<aside class="probootstrap-aside js-probootstrap-aside">
    <a href="#" class="probootstrap-close-menu js-probootstrap-close-menu d-md-none"><span class="oi oi-arrow-left"></span> Close</a>
    <div class="probootstrap-site-logo probootstrap-animate" data-animate-effect="fadeInLeft">

        <a href="index.html" class="mb-2 d-block probootstrap-logo">명당</a>
        <p class="mb-0">명당에 오신것을 환영합니다. 명당은 정책지표와 시장지표를 분석하여 사용자에게 직관적으로 정보를 제공합니다.</a></p>
    </div>
    <div class="probootstrap-overflow">
        <nav class="probootstrap-nav">
            <ul>
                <li class="probootstrap-animate active" data-animate-effect="fadeInLeft"><a href="main.do">Home</a></li>
                <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="about.do">about</a></li>
                <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="services.do">BigData Chart</a></li>
                <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="map.do">부동산 지도</a></li>
                <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="contact.do">Contact</a></li>
            </ul>
        </nav>
        <footer class="probootstrap-aside-footer probootstrap-animate" data-animate-effect="fadeInLeft">
            <ul class="list-unstyled d-flex probootstrap-aside-social">
                <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
            </ul>
            <p>&copy; 2017 <a href="https://probootstrap.com/" target="_blank">ProBootstrap:Aside</a>. <br> All Rights Reserved.</p>
        </footer>
    </div>
</aside>