<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>명당</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/chart.min.js"></script>
</head>
<body>
<div class="base-container" style="background-color: #1d1e1f">


    <!-- Fixed Button START -->
    <img src="/img/arrow.jpeg" class="c_wing_top">
    <!-- Fixed Button END -->


    <!-- navigation START -->
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-12">
                <div id="card-65721">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-65721" href="#card-element-941956">Collapsible Group Item #1</a>
                        </div>
                        <div id="card-element-941956" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-65721" href="#card-element-586725">Collapsible Group Item #2</a>
                        </div>
                        <div id="card-element-586725" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation END -->


    <!-- main chart START -->
    <div class="contentsContainer">
        <div class="dataContainerBase">
            <div class="dataContainer">
                <div class="dataContent" style="display: flex">

                    <div class="dataHeader" style="background-color: black; height: 10vh">
                        <h2>업종별 점포수</h2>
                        <span>업종별로 점포를 분류하여 한눈에 쉽게 보기!</span>
                   </div>

                    <div class="dataSideL" style="background-color: green;">
                        <div>
                            <span>매도자 많음</span>
                            <span>가격 상승 전망</span>
                        </div>
                        <div>
                            부동산을 살려는 사람보다 팔려는 사람이 많아 매수자의 가격협상력이 우위에 있는 지역이에요. 하지만 가격상승을 예측하는 응답이 더 많아 신중한 판단이 필요한 지역입니다.
                        </div>
                    </div>
                    <div class="dataContent" style="background-color: white;">
                        <canvas id="cycle">업종별 점포수</canvas>
                    </div>
                    <div class="dataSideR" style="background-color: black;">

                    </div>
                </div>
                <div class="dataFooter" style="background-color: blue; height: 10vh">

                </div>
            </div>
        </div>
    </div>
    <!-- main chart END -->

</div>

<script>
    const $foldBtnImg = $('#c_wing_top')
    console.log($foldBtnImg.height)
    const $menuNav = $('.container-fluid')

    $foldBtnImg.addEventListener("click", function () {
        $menuNav.animate({'left': -200 })
        $foldBtnImg.css({transform: 'rotate(0)'});
        $foldBtnImg.animate({['rotate']: 180}, {step: (now, fx) => $(fx.elem).css({transform: `rotate(${now}deg)`}), duration: 1000});
    });
</script>

<script>
    let drawbubbleOne = document.getElementById('BubbleOne').getContext('2d');

    const bubbleOne = new Chart(drawbubbleOne,{
        type: 'bubble',
        data: {
            datasets: [{
                label: 'First Dataset',
                data: [{
                    x: 20,
                    y: 30,
                    r: 15
                }, {
                    x: 40,
                    y: 10,
                    r: 10
                },{
                    x:0,
                    y:0,
                    r:0
                },{
                    x:200,
                    y:200,
                    r:0
                }],
                backgroundColor: 'rgb(255, 99, 132)'
            }]
        },
        options: {
            scales:{
                x:{
                    grid:{
                        color: function (context) {
                            if (context.tick.value != 100) {
                                return 'rgb(211, 211, 211)';
                            } else {
                                return 'rgb(255, 99, 132)';
                            }
                        },
                    }
                },
                y: {
                    grid: {
                        color: function (context) {
                            if (context.tick.value != 100) {
                                return 'rgb(211, 211, 211)';
                            } else {
                                return 'rgb(255, 99, 132)';
                            }
                        },
                    }
                }
            }
        }
    })
</script>




</body>
</html>