<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>명당 MAP</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://kit.fontawesome.com/81385b77d5.js" crossorigin="anonymous"></script>
    <style>
        #container {overflow:hidden;height:1300px;position:relative;}
        #mapWrapper {width:100%;height:1300px;z-index:1;}
        #rvWrapper {width:50%;height:1300px;top:0;right:0;position:absolute;z-index:0;}
        #container.view_roadview #mapWrapper {width: 50%;}
        #roadviewControl {position:absolute;top:5px;left:5px;width:42px;height:42px;z-index: 1;cursor: pointer; background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;}
        #roadviewControl.active {background-position:0 -350px;}
        #close {position: absolute;padding: 4px;top: 5px;left: 5px;cursor: pointer;background: #fff;border-radius: 4px;border: 1px solid #c8c8c8;box-shadow: 0px 1px #888;}
        #close .img {display: block;background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;width: 14px;height: 14px;}
    </style>
</head>
<body>

    <div class="menucontainer" style="display: flex">

        <div class="header">

        </div>

        <div class="menu">
            <div class="container-fluid">
                <div id="header1" class="row">
                    <div class="col-md-12">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#"><i class="fa-solid fa-sign-hanging"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">홈</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">매물</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">경매</a>
                            </li>
                            <li class="nav-item dropdown ml-md-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">악관</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">서비스 이용 약관</a>
                                    <a class="dropdown-item" href="#">위치 기반 서비스 이용 약관</a>
                                    <a class="dropdown-item" href="#">개인 정보 처리 방침</a>
                                    <div class="dropdown-divider">
                                    </div> <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="header2" class="row">
                    <div class="col-md-12">
                        <h3>
                            안녕하세요!
                            <div>
                                상가쇼핑을 시작해보죠!
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <button type="button" class="btn btn-indigo">
                            로그인
                        </button>
                    </div>
                    <div class="col-md-6">

                        <button type="button" class="btn btn-reverse-indigo">
                            회원가입
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            문의
                        </h3>
                        <div class="row">
                            <div class="col-md-6">

                                <button type="button" class="btn btn-success">
                                    <i class="fa-solid fa-pen-nib"></i>
                                    <span>문의하기</span>
                                </button>
                            </div>
                            <div class="col-md-6">

                                <button type="button" class="btn btn-success">
                                    <i class="fa-duotone fa-book"></i>
                                    <span>자주묻는 질문</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            기타
                        </h3>
                        <div class="row">
                            <div class="col-md-6">

                                <button type="button" class="btn btn-success">
                                    <i class="fa-solid fa-chart-pie"></i>
                                    <span>Big data</span>
                                </button>

                            </div>
                            <div class="col-md-6">

                                <button type="button" class="btn btn-success">
                                    <i class="fa-solid fa-alien-8bit"></i>
                                    <span>something else</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            약관
                        </h3>
                        <ul>
                            <li class="list-item">
                                <span>서비스 이용 약관</span>
                            </li>
                            <li class="list-item">
                                <span>위치 기반 서비스 이용 약관</span>
                            </li>
                            <li class="list-item">
                                <span>개인 정보 처리 방침</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="map">

            <div id="container">
                <div id="rvWrapper">
                    <div id="roadview" style="width:1500px;height:1000px;"></div> <!-- 로드뷰를 표시할 div 입니다 -->
                    <div id="close" title="로드뷰닫기" onclick="closeRoadview()"><span class="img"></span></div>
                </div>
                <div id="mapWrapper">
                    <div id="map" style="width:1500px;height:1000px"></div> <!-- 지도를 표시할 div 입니다 -->
                    <div id="roadviewControl" onclick="setRoadviewRoad()"></div>
                </div>
            </div>

            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22ba7b17e2b06e0bb41dd31e0cf7b3a5"></script>
            <script>

                var overlayOn = false, // 지도 위에 로드뷰 오버레이가 추가된 상태를 가지고 있을 변수
                    container = document.getElementById('container'), // 지도와 로드뷰를 감싸고 있는 div 입니다
                    mapWrapper = document.getElementById('mapWrapper'), // 지도를 감싸고 있는 div 입니다
                    mapContainer = document.getElementById('map'), // 지도를 표시할 div 입니다
                    rvContainer = document.getElementById('roadview'); //로드뷰를 표시할 div 입니다

                var mapCenter = new kakao.maps.LatLng(35.1468849 , 126.8409538), // 지도의 중심좌표
                    mapOption = {
                        center: mapCenter, // 지도의 중심좌표
                        level: 5 // 지도의 확대 레벨
                    };

                // 지도를 표시할 div와 지도 옵션으로 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 로드뷰 객체를 생성합니다
                var rv = new kakao.maps.Roadview(rvContainer);

                // 좌표로부터 로드뷰 파노라마 ID를 가져올 로드뷰 클라이언트 객체를 생성합니다
                var rvClient = new kakao.maps.RoadviewClient();

                // 로드뷰에 좌표가 바뀌었을 때 발생하는 이벤트를 등록합니다
                kakao.maps.event.addListener(rv, 'position_changed', function() {

                    // 현재 로드뷰의 위치 좌표를 얻어옵니다
                    var rvPosition = rv.getPosition();

                    // 지도의 중심을 현재 로드뷰의 위치로 설정합니다
                    map.setCenter(rvPosition);

                    // 지도 위에 로드뷰 도로 오버레이가 추가된 상태이면
                    if(overlayOn) {
                        // 마커의 위치를 현재 로드뷰의 위치로 설정합니다
                        marker.setPosition(rvPosition);
                    }
                });

                // 마커 이미지를 생성합니다
                var markImage = new kakao.maps.MarkerImage(
                    'https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png',
                    new kakao.maps.Size(26, 46),
                    {
                        // 스프라이트 이미지를 사용합니다.
                        // 스프라이트 이미지 전체의 크기를 지정하고
                        spriteSize: new kakao.maps.Size(1666, 168),
                        // 사용하고 싶은 영역의 좌상단 좌표를 입력합니다.
                        // background-position으로 지정하는 값이며 부호는 반대입니다.
                        spriteOrigin: new kakao.maps.Point(705, 114),
                        offset: new kakao.maps.Point(13, 46)
                    }
                );

                // 드래그가 가능한 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    image : markImage,
                    position: mapCenter,
                    draggable: true
                });

                // 마커에 dragend 이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'dragend', function(mouseEvent) {

                    // 현재 마커가 놓인 자리의 좌표입니다
                    var position = marker.getPosition();

                    // 마커가 놓인 위치를 기준으로 로드뷰를 설정합니다
                    toggleRoadview(position);
                });

                //지도에 클릭 이벤트를 등록합니다
                kakao.maps.event.addListener(map, 'click', function(mouseEvent){

                    // 지도 위에 로드뷰 도로 오버레이가 추가된 상태가 아니면 클릭이벤트를 무시합니다
                    if(!overlayOn) {
                        return;
                    }

                    // 클릭한 위치의 좌표입니다
                    var position = mouseEvent.latLng;

                    // 마커를 클릭한 위치로 옮깁니다
                    marker.setPosition(position);

                    // 클락한 위치를 기준으로 로드뷰를 설정합니다
                    toggleRoadview(position);
                });

                // 전달받은 좌표(position)에 가까운 로드뷰의 파노라마 ID를 추출하여
                // 로드뷰를 설정하는 함수입니다
                function toggleRoadview(position){
                    rvClient.getNearestPanoId(position, 50, function(panoId) {
                        // 파노라마 ID가 null 이면 로드뷰를 숨깁니다
                        if (panoId === null) {
                            toggleMapWrapper(true, position);
                        } else {
                            toggleMapWrapper(false, position);

                            // panoId로 로드뷰를 설정합니다
                            rv.setPanoId(panoId, position);
                        }
                    });
                }

                // 지도를 감싸고 있는 div의 크기를 조정하는 함수입니다
                function toggleMapWrapper(active, position) {
                    if (active) {

                        // 지도를 감싸고 있는 div의 너비가 100%가 되도록 class를 변경합니다
                        container.className = '';

                        // 지도의 크기가 변경되었기 때문에 relayout 함수를 호출합니다
                        map.relayout();

                        // 지도의 너비가 변경될 때 지도중심을 입력받은 위치(position)로 설정합니다
                        map.setCenter(position);
                    } else {

                        // 지도만 보여지고 있는 상태이면 지도의 너비가 50%가 되도록 class를 변경하여
                        // 로드뷰가 함께 표시되게 합니다
                        if (container.className.indexOf('view_roadview') === -1) {
                            container.className = 'view_roadview';

                            // 지도의 크기가 변경되었기 때문에 relayout 함수를 호출합니다
                            map.relayout();

                            // 지도의 너비가 변경될 때 지도중심을 입력받은 위치(position)로 설정합니다
                            map.setCenter(position);
                        }
                    }
                }

                // 지도 위의 로드뷰 도로 오버레이를 추가,제거하는 함수입니다
                function toggleOverlay(active) {
                    if (active) {
                        overlayOn = true;

                        // 지도 위에 로드뷰 도로 오버레이를 추가합니다
                        map.addOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW);

                        // 지도 위에 마커를 표시합니다
                        marker.setMap(map);

                        // 마커의 위치를 지도 중심으로 설정합니다
                        marker.setPosition(map.getCenter());

                        // 로드뷰의 위치를 지도 중심으로 설정합니다
                        toggleRoadview(map.getCenter());
                    } else {
                        overlayOn = false;

                        // 지도 위의 로드뷰 도로 오버레이를 제거합니다
                        map.removeOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW);

                        // 지도 위의 마커를 제거합니다
                        marker.setMap(null);
                    }
                }

                // 지도 위의 로드뷰 버튼을 눌렀을 때 호출되는 함수입니다
                function setRoadviewRoad() {
                    var control = document.getElementById('roadviewControl');

                    // 버튼이 눌린 상태가 아니면
                    if (control.className.indexOf('active') === -1) {
                        control.className = 'active';

                        // 로드뷰 도로 오버레이가 보이게 합니다
                        toggleOverlay(true);
                    } else {
                        control.className = '';

                        // 로드뷰 도로 오버레이를 제거합니다
                        toggleOverlay(false);
                    }
                }

                // 로드뷰에서 X버튼을 눌렀을 때 로드뷰를 지도 뒤로 숨기는 함수입니다
                function closeRoadview() {
                    var position = marker.getPosition();
                    toggleMapWrapper(true, position);
                }

                // 현재 지도에 트래픽을 표현하는 함수입니다.
                map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);


                // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
                if (navigator.geolocation) {

                    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                    navigator.geolocation.getCurrentPosition(function(position) {

                        var lat = position.coords.latitude, // 위도
                            lon = position.coords.longitude; // 경도

                        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                            message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다

                        // 마커와 인포윈도우를 표시합니다
                        displayMarker(locPosition, message);

                    });

                } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

                    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                        message = 'geolocation을 사용할수 없어요..'

                    displayMarker(locPosition, message);
                }

                // 지도에 마커와 인포윈도우를 표시하는 함수입니다
                function displayMarker(locPosition, message) {

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: locPosition
                    });

                    var iwContent = message, // 인포윈도우에 표시할 내용
                        iwRemoveable = true;

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content : iwContent,
                        removable : iwRemoveable
                    });

                    // 인포윈도우를 마커위에 표시합니다
                    infowindow.open(map, marker);

                    // 지도 중심좌표를 접속위치로 변경합니다
                    map.setCenter(locPosition);
                }

            </script>
        </div>


        <div class="footer">

        </div>


    </div>




</div>
</body>
</html>
